.footer-container {
    background-color: #f8f9fa; /* Light grey background */
    padding: 20px;
    text-align: center;
    border-top: 1px solid #e7e7e7; /* Light grey border */
    position: relative;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    margin-top: auto; /* Push footer to the bottom */
}

.footer-links a {
    color: #007bff;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-copyright a {
    color: #007bff;
    text-decoration: none;
}

.footer-copyright a:hover {
    text-decoration: underline;
}

footer {
    margin-top: auto; /* Push footer to the bottom */
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}
