/* Navbar specific styles */
.navbar-nav {
    flex-direction: row;
    align-items: center;
}

.nav-item {
    margin-left: 10px;
}

#cart-icon {
    display: flex;
    align-items: center;
}

#lbl-welcome {
    margin-left: 15px;
    display: flex;
    align-items: center;
    color: #000; /* Add color if necessary */
}

.dropdown-menu-right {
    right: 0;
    left: auto;
}

.modal-dialog {
    max-width: 90%;
    margin: 30px auto;
}

@media (max-width: 768px) {
    .modal-dialog {
        max-width: 100%;
        margin: 15px auto;
    }
}


@media (max-width: 768px) {
    .navbar-nav {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .nav-item {
        margin-left: 0;
        margin-bottom: 10px;
        width: 100%;
        text-align: center;
    }

    #lbl-welcome {
        margin-left: 0;
        margin-bottom: 10px;
        width: 100%;
        text-align: center;
    }

    .dropdown-menu-right {
        width: 100%;
        text-align: center;
    }
}
